

@media screen and (max-width: 992px) and    (min-width: 576px){
    /* navbar part  */
  #header {
      list-style-type: none;
      margin: 0;
      padding-left: 4%;
      padding-right: 1%;
      
      overflow: hidden;
      width:100%;
     background-color:#007FEB;
     margin-bottom: 3%;;

    }
    #brand{
        padding:3px 6px;

    }
    #logo{
        height: 60px;
        width:179px;

    }
    .menuitem {
      float: left;
      margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    
    }
    .menuitem a {
      font-size: 25px;
      font-family: 'Berkshire Swash';
          display: block;
          color: white;
          height: 100%;
          text-align: center;
          padding: 6px 3px;
          margin-top: auto;
          margin-bottom: auto;
          text-decoration: none;
        }
        
    
    #logoimg{
        height:40px;
        width:40px;
    }
    #cart{
      height:50px;
      width:80px;  
    }
    #profile{
        margin-top:6px;
      height:40px;
      width:65px;     
     }

        /* navbar part  end */


        
     /*  footer part */

     #tableb{
      color:white;font-weight:bold;
  }
  .lastimg{
      height:150px;
      width:300px;
  }

  #footer{
      padding:2%;
  
  }
  #map{
    width:25px;
}
#mail{
    width:25px;
}
.fa {
  
  height: 50px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
  
      
      transition: 1s;
    }
  


     
     /*  footer part end*/

}